* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

header {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  z-index: 100;
}

.ghost {
  width: 100%;
  height: 10vh;
}

a {
  text-decoration: none;
  font-size: 5rem;
  color: black;
}

h1 {
  font-size: 5rem;
  animation-name: example;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

@keyframes example {
  from {color: black;}
  to   {color: red;}
}

.basket {
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
  background-image: url(./images/shopping-cart.png);
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}

.basket:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.navbar {
  width: 20%;
  height: 90vh;
  max-width: 252px;
  display: inline-block;
  position: fixed;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.sizes {
  width: 100%;
  height: 15rem;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sizes div {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #eee;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sizes div:hover {
  border: 1px solid black;
  cursor: pointer;
}

.footer {
  font-size: 1.5rem;
  position: absolute;
  bottom: 2rem;
  margin-left: 2.8rem;
}

.product-list {
  width: 80%;
  height: auto;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info {
  width: 100%;
  min-height: 100px;
  font-size: 2rem;
  padding: 0 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.products {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product {
  width: 23%;
  height: 55rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product:hover .add {
  background-color: #ffd000;
  color: black;
  cursor: pointer;
}

.product-image {
  width: 100%;
  height: 35rem;
  background-position: center;
  background-size: cover;
}

.shipping {
  padding: 0.6rem 1.2rem;
  background-color: black;
  color: white;
  float: right;
  word-spacing: 0.5rem;
  letter-spacing: 0.1rem;
}

.shipping::selection {
  background-color: #ffd000;
  color: black;
}

.product-title {
  min-height: 5rem;
  font-size: 2rem;
  word-spacing: 0.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.price-info {
  text-align: center;
  font-size: 3rem;
}

small, span {
  font-size: 60%;
}

.installment {
  font-size: 60%;
  color: #cce3de;
}

.add {
  width: 100%;
  height: 5rem;
  font-size: 2rem;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 0.2s;
}